<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>851340189695-lhnjfntqlt77fdsajattircls9i8mgn8.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.851340189695-lhnjfntqlt77fdsajattircls9i8mgn8</string>
  <key>API_KEY</key>
  <string>AIzaSyC9t_XR6FI0CDRvkyYQE1d4egvU2IpTR-0</string>
  <key>GCM_SENDER_ID</key>
  <string>851340189695</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.uangel.rokebi-ESIM</string>
  <key>PROJECT_ID</key>
  <string>rokebi-ios</string>
  <key>STORAGE_BUCKET</key>
  <string>rokebi-ios.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:851340189695:ios:029125ba4bc4ffdcccd1ca</string>
  <key>DATABASE_URL</key>
  <string>https://rokebi-ios.firebaseio.com</string>
</dict>
</plist>
